/* GENERAL */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'orbitronregular';
    src: url('fonts/orbitron-variablefont_wght-webfont.woff') format('woff2'),
         url('fonts/orbitron-variablefont_wght-webfont.woff2') format('woff');
}

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('fonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snacker_comic_personal_use_Rg';
    src: url('fonts/snackercomic_perosnaluseonly-webfont.woff2') format('woff2'),
         url('fonts/snackercomic_perosnaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'super_mario_256regular';
    src: url('fonts/supermario256-webfont.woff2') format('woff2'),
         url('fonts/supermario256-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* FONTS ENDS */

/* Color Theme Swatches in Hex */
.NILE-VALLEY-|-part-two-1-hex { color: #07D9D9; }
.NILE-VALLEY-|-part-two-2-hex { color: #F2E527; }
.NILE-VALLEY-|-part-two-3-hex { color: #F28907; }
.NILE-VALLEY-|-part-two-4-hex { color: #D93F07; }
.NILE-VALLEY-|-part-two-5-hex { color: #730C02; }

/* Color Theme Swatches in RGBA */
.NILE-VALLEY-|-part-two-1-rgba { color: rgba(6, 216, 216, 1); }
.NILE-VALLEY-|-part-two-2-rgba { color: rgba(242, 228, 38, 1); }
.NILE-VALLEY-|-part-two-3-rgba { color: rgba(242, 136, 7, 1); }
.NILE-VALLEY-|-part-two-4-rgba { color: rgba(216, 62, 6, 1); }
.NILE-VALLEY-|-part-two-5-rgba { color: rgba(114, 11, 2, 1); }

/* Color Theme Swatches in HSLA */
.NILE-VALLEY-|-part-two-1-hsla { color: hsla(180, 94, 43, 1); }
.NILE-VALLEY-|-part-two-2-hsla { color: hsla(56, 88, 55, 1); }
.NILE-VALLEY-|-part-two-3-hsla { color: hsla(33, 94, 48, 1); }
.NILE-VALLEY-|-part-two-4-hsla { color: hsla(16, 94, 43, 1); }
.NILE-VALLEY-|-part-two-5-hsla { color: hsla(5, 96, 22, 1); }



*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    transition: 1s;
}

body{
    /* background-color: #f6f6f6; */
    background-color: #373739;
    background-size: cover;
    background-image: url(images/back-body.png);
    background-size: contain;

}

.landing h1 {
    color: #FF0049;
    position: absolute;
    top: 390px;
    left: 50px;  
    font-size: 70px;
    font-weight: bold;
}

h1{
    font-family: 'orbitronregular', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
}

.welcome{
    text-align: center;
    /* color: #001735; */
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

/* -------------------- HEADER -------------------- */

.header{
    /* background-image: url(images/back-final.png);  */
    background-repeat: no-repeat;  
    width: 100%;
    height: 800px;
    margin-bottom: -60px;
    display: flex;
    position: relative;
    /* background-color: #dbdfe6; */
}

.logo{
    margin-right: 300px;
    width: 150px;
}

a{
    color: #f6f6f6;
}

header a:hover ion-icon {
    transform: scale(1.2);
    transition: 1s;
}

/* -------------------- SECTIONS -------------------- */

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 50px 50px 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0. 5);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(125, 125, 125, 1);
    border-bottom: 1px solid rgba(125, 125, 125, 1);
    border-right: 1px solid rgba(125, 125, 125, 1);
}

/* -------------------- SUBTITLES -------------------- */

.subtitle h2{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 40px;
}

.subtitle p{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: blanchedalmond;
    text-align: center;
}

.subtitle{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px Opx 0px 10px;
}

.impaire{
    /* background-image: url(images/back-1.png); */
    background:linear-gradient(to top,#212123 ,#FF0049);
    border-radius: 10px Opx 0px 10px;
}

.paire{
    /* background-image: url(images/back-2.png); */
    background:linear-gradient(to top, #FF0049,#212123);
    border-radius: 10px Opx 0px 10px;
}

/* -------------------- SECTIONS DETAILS -------------------- */

.content{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.color{
    width: 150px;
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.color-details{
    background-color: #0F0F0F;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px ;
}

.color:hover .color-details{
    transition: 2s ease-in-out;
    transform: translateY(150px);
}





.color-details p{
    text-align: center;
}

.a{
    background-color: #07D9D9 ;
    box-shadow: 2px 5px 5px rgba(6, 216, 216, 0.5);
}

.a:hover{
    box-shadow: 0 0 10px #07D9D9,
                0 0 10px #07D9D9,
                0 0 20px #07D9D9;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.b{
    background-color: #F2E527 ;
    box-shadow: 2px 5px 5px rgba(242, 228, 38, 0.5);
}

.b:hover{
    box-shadow: 0 0 10px #F2E527,
                0 0 10px #F2E527,
                0 0 20px #F2E527;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.c{
    background-color: #F28907;
    box-shadow: 2px 5px 5px rgba(242, 136, 7, 0.5);
}

.c:hover{
    box-shadow: 0 0 10px #F28907,
                0 0 10px #F28907,
                0 0 20px #F28907;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.d{
    background-color: #D93F07 ;
    box-shadow: 2px 5px 5px  rgba(216, 62, 6, 0.5);
}

.d:hover{
    box-shadow: 0 0 10px #D93F07,
                0 0 10px #D93F07,
                0 0 20px #D93F07;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.e{
    background-color: #730C02 ;
    box-shadow: 2px 5px 5px rgba(114, 11, 2, 0.5);
}

.e:hover{
    box-shadow: 0 0 10px #730C02,
                0 0 10px #730C02,
                0 0 20px #730C02;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

/*--------------------- FONT SECTION------------------ */

.font{
    width: 33%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
}

.font:hover{
    transform: scale(1.2);
    transition: 1s;
}

.mario-font{
    font-family: 'super_mario_256regular' ;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.pokemon-font{
    font-family: 'pokemon_solidnormal' ;
    color: #dbdfe6;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: 50px;
}

.snacker-font{
    font-family: 'snacker_comic_personal_use_Rg' ;
    color: #001735;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.roboto-font{
    font-family: 'Roboto', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;

}

.lato-font{
    font-family: 'Lato', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.font-title{
    font-size: 40px;
    font-weight: bold;
    color: blanchedalmond;
}

/* ------------ FONTS USES --------------- */

.font p{
    color: blanchedalmond;
    text-align: center;
    margin-top: 60px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 30px 0; 
    font-weight: 600;
}

.uses .font-title{
    display: block;
    text-align: center;
}

.uses{ 
    width: 70%;
    height: 400px;
    color: blanchedalmond;
}

/*------------------------ NAVBAR----------------- */

.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(125, 125, 125, 1);
    border-left: 1px solid rgba(125, 125, 125, 1);
    
    border-radius: 10px;

    position: fixed;
    z-index: 2;

}

.blur{
    display: flex;
}

.navbar li{
    color: #FF0049;
    margin: 0 50px;

}

ion-icon{
    font-size: 40px;
}


/* -------------- EXEMPLE -------------------- */

.exemple{
    background-color: #373739;
    width: 100%;
    height: 400px;
}


/* -------------- FOOTER -------------------- */

footer{
    height: 400px;
    width: 100%;
    background:linear-gradient(to bottom, #FF0049,#212123);
    display: grid;
    grid-template-areas: "head head head"
                         "side cont cont"
                         "foot foot foot";
}

footer p{
    text-align: center;
    padding: 50px;
}


.logo-footer{
    
}





