/* GENERAL */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'orbitronregular';
    src: url('fonts/orbitron-variablefont_wght-webfont.woff') format('woff2'),
         url('fonts/orbitron-variablefont_wght-webfont.woff2') format('woff');
}

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('fonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snacker_comic_personal_use_Rg';
    src: url('fonts/snackercomic_perosnaluseonly-webfont.woff2') format('woff2'),
         url('fonts/snackercomic_perosnaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'super_mario_256regular';
    src: url('fonts/supermario256-webfont.woff2') format('woff2'),
         url('fonts/supermario256-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* FONTS ENDS */

/* Color Theme Swatches in Hex */
.NILE-VALLEY-|-part-two-1-hex { color: #07D9D9; }
.NILE-VALLEY-|-part-two-2-hex { color: #F2E527; }
.NILE-VALLEY-|-part-two-3-hex { color: #F28907; }
.NILE-VALLEY-|-part-two-4-hex { color: #D93F07; }
.NILE-VALLEY-|-part-two-5-hex { color: #730C02; }

/* Color Theme Swatches in RGBA */
.NILE-VALLEY-|-part-two-1-rgba { color: rgba(6, 216, 216, 1); }
.NILE-VALLEY-|-part-two-2-rgba { color: rgba(242, 228, 38, 1); }
.NILE-VALLEY-|-part-two-3-rgba { color: rgba(242, 136, 7, 1); }
.NILE-VALLEY-|-part-two-4-rgba { color: rgba(216, 62, 6, 1); }
.NILE-VALLEY-|-part-two-5-rgba { color: rgba(114, 11, 2, 1); }

/* Color Theme Swatches in HSLA */
.NILE-VALLEY-|-part-two-1-hsla { color: hsla(180, 94, 43, 1); }
.NILE-VALLEY-|-part-two-2-hsla { color: hsla(56, 88, 55, 1); }
.NILE-VALLEY-|-part-two-3-hsla { color: hsla(33, 94, 48, 1); }
.NILE-VALLEY-|-part-two-4-hsla { color: hsla(16, 94, 43, 1); }
.NILE-VALLEY-|-part-two-5-hsla { color: hsla(5, 96, 22, 1); }



*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f6f6f6;
}

h1{
    /* font-family: Arial, Helvetica, sans-serif; */
    color: blanchedalmond;
    position: absolute;
    top: 40%;
    left: 60%;
    font-size: 50px;
    font-weight: bold;
}

h2, h1{
    font-family: 'orbitronregular', sans-serif;
    font-weight: bold;
    /* font-family: 'M ontserrat', sans-serif;*/
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
}

.welcome{
    text-align: center;
    color: #001735;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 50px;
    display: block !important;
}

/* -------------------- HEADER -------------------- */

.header{
    background-image: url(images/landing-Backgroung.gif);   
    width: 100%;
    width: auto;
    height: 600px;
    margin-bottom: 50px;
    display: flex;
    position: relative;
}

/* -------------------- SECTION COLORS -------------------- */

.color-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------------- SUBTITLES -------------------- */

.subtitle h2{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: blanchedalmond;
    font-size: 40px;
}

.subtitle p{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: blanchedalmond;
    text-align: center;
}

.subtitle{
    width: 30%;
    background-color: #540015;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.impaire{
    /* background-image: url(images/back-1.png); */
    background:linear-gradient(to top,#001735 ,#8E0336);
}

.paire{
    /* background-image: url(images/back-2.png); */
    background:linear-gradient(to top, #8E0336,#001735);
}

/* -------------------- SECTIONS DETAILS -------------------- */

.content{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.color{
    width: 150px;
    height: 200px;
    background-color: red;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 5px 5px #540015;
    border: #001735 solid 1px;
}

.color-details{
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px ;
}

.color-details p{
    text-align: center;
}

.a{
    background-color: #07D9D9 ;
    box-shadow: 2px 5px 5px rgba(6, 216, 216, 0.5);
}

.b{
    background-color: #F2E527 ;
    box-shadow: 2px 5px 5px rgba(242, 228, 38, 0.5);
}

.c{
    background-color: #F28907;
    box-shadow: 2px 5px 5px rgba(242, 136, 7, 0.5);
}

.d{
    background-color: #D93F07 ;
    box-shadow: 2px 5px 5px  rgba(216, 62, 6, 0.5);
}

.e{
    background-color: #730C02 ;
    box-shadow: 2px 5px 5px rgba(114, 11, 2, 0.5);
}

/*--------------------- FONT SECTION------------------ */

.font{
    width: 33%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    /* box-shadow: 2px 5px 5px #540015; */
}

.mario-font{
    font-family: 'super_mario_256regular' ;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.pokemon-font{
    font-family: 'pokemon_solidnormal' ;
    color: #001735;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: 50px;
}

.snacker-font{
    font-family: 'snacker_comic_personal_use_Rg' ;
    color: #001735;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.roboto-font{
    font-family: 'Roboto', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;

}

.lato-font{
    font-family: 'Lato', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
    color: #001735;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.font-title{
    font-size: 40px;
    font-weight: bold;
}

/* ------------ FONTS USES --------------- */

.font p{
    color: #001735;
    text-align: center;
    margin-top: 60px;
}

li{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

