/* GENERAL */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'orbitronregular';
    src: url('fonts/orbitron-variablefont_wght-webfont.woff') format('woff2'),
         url('fonts/orbitron-variablefont_wght-webfont.woff2') format('woff');
}

@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('fonts/pokemon_solid-webfont.woff2') format('woff2'),
         url('fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'snacker_comic_personal_use_Rg';
    src: url('fonts/snackercomic_perosnaluseonly-webfont.woff2') format('woff2'),
         url('fonts/snackercomic_perosnaluseonly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'super_mario_256regular';
    src: url('fonts/supermario256-webfont.woff2') format('woff2'),
         url('fonts/supermario256-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ninja_narutoregular';
    src: url('fonts/njnaruto-webfont.woff2') format('woff2'),
         url('fonts/njnaruto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avengeance_mightiest_avengeRg';
    src: url('fonts/avengeance_mightiest_avenger-webfont.woff2') format('woff2'),
         url('fonts/avengeance_mightiest_avenger-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'the_amazing_spider-manregular';
    src: url('fonts/the_amazing_spider-man-webfont.woff2') format('woff2'),
         url('fonts/the_amazing_spider-man-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* FONTS ENDS */


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px inset red ;
}

html{
    scroll-behavior: smooth;
    transition: 1s;
}

body{
    background-color: #373739;
    background-size: cover;
    background-image: url(images/back-body.png);
    background-size: contain;
    text-decoration: none;
}

/*------------------------ NAVBAR----------------- */

.navbar{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 80px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(125, 125, 125, 1);
    border-left: 1px solid rgba(125, 125, 125, 1);
    border-radius: 10px;
    z-index: 2;
}

.blur{
    display: flex;
}

.navbar li{
    color: #FF0049;
    margin: 0 50px;
    vertical-align: middle;
    
}

ion-icon{
    font-size: 40px;
}

h1{
    font-family: 'orbitronregular', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f6f6f6;
}

.welcome{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 50px;
    z-index: 1;
}

/* -------------------- HEADER -------------------- */

.header{
    display: flex;
    position: relative;
    background-repeat: no-repeat;  
    width: 100%;
    height: 800px;
}

.logo{
    margin-right: 300px;
    width: 150px;
    vertical-align: middle;
}

a{
    color: #f6f6f6;
    text-decoration: none;
}

header a:hover ion-icon {
    transform: scale(1.2);
    transition: 1s;
}

.landing h1 {
    color: white;
    position: absolute;
    top: 200px; 
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

/* -------------------- SECTIONS -------------------- */

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 50px 50px 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0. 5);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(125, 125, 125, 1);
    border-bottom: 1px solid rgba(125, 125, 125, 1);
    border-right: 1px solid rgba(125, 125, 125, 1);
}

/* -------------------- SUBTITLES -------------------- */

.subtitle h2{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: white;
    font-size: 40px;
}

.subtitle p{
    margin: 0 auto;
    display: inline;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.subtitle{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px Opx 0px 10px;
}

.impaire{
    background:linear-gradient(to top,#212123 ,#FF0049);
    border-radius: 10px Opx 0px 10px;
}

.paire{
    background:linear-gradient(to top, #FF0049,#212123);
    border-radius: 10px Opx 0px 10px;
}

/* -------------------- SECTIONS DETAILS -------------------- */

.content{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.color{
    width: 150px;
    height: 200px;
    border-radius: 5px;
    position: relative;
}

.color-details{
    background-color: #0F0F0F;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px ;
}

.color:hover .color-details{
    transition: 2s ease-in-out;
}

.color-details p{
    text-align: center;
}

.color-blue{
    background-color: #07D9D9 ;
    box-shadow: 2px 5px 5px rgba(6, 216, 216, 0.5);
}

.color-blue:hover{
    box-shadow: 0 0 10px #07D9D9,
                0 0 10px #07D9D9,
                0 0 20px #07D9D9;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.color-yellow{
    background-color: #F2E527 ;
    box-shadow: 2px 5px 5px rgba(242, 228, 38, 0.5);
}

.color-yellow:hover{
    box-shadow: 0 0 10px #F2E527,
                0 0 10px #F2E527,
                0 0 20px #F2E527;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.color-orange{
    background-color: #F28907;
    box-shadow: 2px 5px 5px rgba(242, 136, 7, 0.5);
}

.color-orange:hover{
    box-shadow: 0 0 10px #F28907,
                0 0 10px #F28907,
                0 0 20px #F28907;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.color-dark-orange{
    background-color: #D93F07 ;
    box-shadow: 2px 5px 5px  rgba(216, 62, 6, 0.5);
}

.color-dark-orange:hover{
    box-shadow: 0 0 10px #D93F07,
                0 0 10px #D93F07,
                0 0 20px #D93F07;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

.color-chocolate{
    background-color: #730C02 ;
    box-shadow: 2px 5px 5px rgba(114, 11, 2, 0.5);
}

.color-chocolate:hover{
    box-shadow: 0 0 10px #730C02,
                0 0 10px #730C02,
                0 0 20px #730C02;
    transform: scale(1.2);
    border: none;
    transition: 1s ease-in-out;
}

/*--------------------- FONT SECTION------------------ */

.font{
    width: 33%;
    height: 100%;
    border-radius: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.font:hover{
    transform: scale(1.2);
    transition: 1s;
}

.spider-font{
    font-family: 'the_amazing_spider-manregular' ;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.avengers-font{
    font-family: 'avengeance_mightiest_avengeRg' ;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.naruto-font{
    font-family: 'ninja_narutoregular' ;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-top: 50px;
}

.roboto-font{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;

}

.lato-font{
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.ubuntu-font{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.font-title{
    font-size: 40px;
    font-weight: bold;
    color:white;
}

/* ------------ FONTS USES --------------- */

.font p{
    color: white;
    text-align: center;
    margin-top: 60px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 30px 0; 
    font-weight: 600;
}

.uses .font-title{
    display: block;
    text-align: center;
}

.uses{ 
    width: 70%;
    height: 400px;
    color: white;
}


/* -------------- EXEMPLE -------------------- */

/* -------------- FOOTER -------------------- */

.footer{
    display: flex;
    height: 400px;
    width: 100%;
    background:linear-gradient(to bottom, #FF0049,#212123);
    flex-wrap: wrap;
}

footer p{
    text-align: center;
    padding: 50px;
}


.logo-footer{
    width: 400px;
    transform-origin: top;
    vertical-align: middle;
}
footer div{
    width: 33%;
}

.social-netword {
    background-color: #212123;
    text-align: center;
    vertical-align: middle;
    padding: 50px;
}

.social-netword a {
    margin: 20px;
    align-items: center;
}

.social-netword ion-icon {
    vertical-align: middle;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
input[type="submit"]:hover {
    background-color: #FF0049;
}

input[type="submit"] {
    background-color: #FF0049;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: 50px;
}

input, textarea {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #FF0049;
    border-radius: 5px;
    width:100%;
}

label {
    margin-top: 10px;
    color: white;
}

.menu-hamburger{
    display: none;
}


@media screen and (max-width: 1150px) {
    
    .menu-hamburger{
        display: initial;
        color: white;
    }

    .logo{
        margin-right: 40vw;
    }

    .welcome{
        margin-top: 50px;
    }
    
    .section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .content{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }

    .font{
        height: 100%;
        width: 100%;
        border-radius: 5px;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 10px;
    }

    .subtitle{
        width: 100%;
    }

    .color{
        margin: 20px;
    }

    .uses{ 
        width: 70%;
        height: 100%;
        color: white;
    }

    input, textarea {
        width: 100%;
    }

    .navbar li{
        display: none;
    }

    .footer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    footer div{
        width: 100%;
    }

    .social-netword {
        display: block;
    }

    .social-netword a {
       display: block;
       text-align: left;
    }

}